<!DOCTYPE html>
<!--
 Ekampreet Kaur
 Date: Feb 23, 2020
 Description: This is main page of dating website with title, description and image.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>SoulMate</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png"
          href="images/romance.png">
    <link rel="stylesheet" type="text/css"
          href="styles/styles.css">
</head>
<body>
<div id="nav">
    <ul id="list">
        <li class="lists"><a href="https://ekaur.greenriverdev.com/328/dating">SoulMate</a></li>
    </ul>
</div>

<br>
<div class="container text-center">
    <h1 id="homepage" class="pt-5 pb-5">Find Your SoulMate</h1>
    <br>

    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-lg-6">
            <p>Welcome to the web's most successful dating website. At My Dating Website you'll meet another like minded individuals. We have the highest success rate of couples on the web. User's are matched by interest and location. Find out why so many others have found love on our site!</p>
            <p id="testimonial" class="pt-2">Hear what our users are saying about us.</p>
            <div id="testimonial-container">
                <div id="testimonial-bg">
                    <p><i>"Just try it! You'll never be the same" -Sarah</i></p>
                    <p><i>"I met the love of my life after only a month" -Andrea</i></p>
                    <p><i>"This is the best and the most advised site I have ever joined. This is the first time I have ever felt safe to actually date on-line. Thank You for caring and being so careful. " -Melody</i></p>
                </div>
            </div>
            <br>

            <a class="btn btn-primary mb-4" href="personalinformation">Create a Profile!</a>

        </div>

        <div class="col-lg-6">
            <img id="image" src="images/date.jpeg" class="img-fluid rounded float-lg-right float-md-right mt-2 image" alt="Cute Couples" width="500">

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>