<!doctype html>
<!--
 Ekampreet Kaur
 Date: January 19, 2020
 Description: This page contains summary which information user just provided
-->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="styles/styles.css">
    <link rel="icon" type="image/png"
          href="images/romance.png">
    <title>SoulMate</title>
</head>
<body>
<div id="nav">
    <ul id="list">
        <li class="lists"><a href="https://ekaur.greenriverdev.com/328/dating/">SoulMate</a></li>

    </ul>
</div>
<div class="container border rounded mt-3 clearfix">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <table class="table table-bordered mt-3">
                <tbody>
                <tr>
                    <td>Name: {{@SESSION.firstName}} {{@SESSION.lastName}}</td>
                </tr>
                <tr>
                    <td> Gender: {{@SESSION.gender}}</td>
                </tr>
                <tr>
                    <td>Age:{{@SESSION.age}} </td>
                </tr>
                <tr>
                    <td>Phone:{{@SESSION.phone}} </td>
                </tr>
                <tr>
                    <td>Email:{{@SESSION.email}}</td>
                </tr>
                <tr>
                    <td>State: {{@SESSION.state}}</td>
                </tr>
                <tr>
                    <td>Seeking: {{@SESSION.seeking}}</td>
                </tr>
                <tr>
                    <td>Interests: {{@SESSION.interests}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    <br>
        <div class="col-lg-6">
            <div class="row  mt-0 ml-5">
                <img class="img rounded " src="images/dummy-profile.png"  alt="Profile Pic">
            </div>

           <p><span class="float-left">Biography</span><br></p>
            <p id="bio-section" class="pl-1">{{ @SESSION.inputText}}</p>
        </div>
    </div>
        <div class="button">
            <button class="btn btn-primary button"  id="submit"  type="submit">Contact Me!</button>
        </div>
    <br>
</div>
</body>
</html>