<!doctype html>
<!--
 Ekampreet Kaur
 Date: Feb 23, 2020
 Description: This page contains summary which information user just provided
-->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="styles/styles.css">
    <link rel="icon" type="image/png"
          href="images/romance.png">
    <title>SoulMate</title>
</head>
<body>
<div id="nav">
    <ul id="list">
        <li class="lists"><a href="https://ekaur.greenriverdev.com/328/dating/">SoulMate</a></li>

    </ul>
</div>
<div class="container border rounded mt-3 clearfix">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <table class="table table-bordered mt-3">
                <tbody>
                <tr>
                    <td>Name: {{ucfirst(@SESSION['member']->getFirstName())}} {{ucfirst(@SESSION['member']->getLastName())}}</td>
                </tr>
                <tr>
                    <td> Gender: {{ucfirst(@SESSION['member']->getGender())}}</td>
                </tr>
                <tr>
                    <td>Age:{{@SESSION['member']->getAge()}}</td>
                </tr>
                <tr>
                    <td>Phone:{{@SESSION['member']->getPhone()}}</td>
                </tr>
                <tr>
                    <td>Email:{{ucfirst(@SESSION['member']->getEmail())}}</td>
                </tr>
                <tr>
                    <td>State: {{ucfirst(@SESSION['member']->getState())}}</td>
                </tr>
                <tr>
                    <td>Seeking: {{ucfirst(@SESSION['member']->getSeeking())}}</td>
                </tr>
                <tr>
                    <check if="{{@SESSION['member'] instanceof premiummember}}">
                        <true>
                            <td>
                                <p>Interests (Indoor): {{ ucwords(implode(", ", @SESSION['member']->getIndoor())) }}</p>
                                <p>Interests (Outdoor): {{ ucwords(implode(", ", @SESSION['member']->getOutdoor())) }}</p>
                            </td>
                        </true>
                    </check>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="row  mt-0 ml-5">
                <img class="img rounded " src="images/dummy-profile.png"
                     alt="Dating picture">
            </div>
            <div class="row ml-0">
                <p class="h4 text-dark mt-4"> Biography:</p>
            </div>
            <div class="row ml-0">
                <p><textarea class="textArea">{{ucfirst(@SESSION['member']->getBio())}}</textarea></p>
            </div>
        </div>
    </div>
        <div class="button">
            <button class="btn btn-primary button"  id="submit"  type="submit">Contact Me!</button>
        </div>
</div>
</body>
</html>