#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.lists {
    float: left;
}

.lists a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

lists a:hover {
    background-color: #111;
}

#testimonial-container {
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 1px solid white;
    margin: 0 10px;
    background: linear-gradient(dimgrey, red);
}

/* testimonial title on home page */
#testimonial {
    font-weight: bolder;
    font-size: larger;
}

/*  gradient background */
#testimonial-bg {
    background-color: white;
    padding: 3px;
    margin-left: -1px;
    margin-right: -1px;
}

/* images size */
#image {
    border-radius: 25px;
    width: 600px;
    height: auto;
}